body{margin-top:20px;}
 .pricing-content{}
.single-pricing{
background:#0c2440;
padding:40px 20px;
border-radius:5px;
position:relative;
z-index:2;
border:1px solid #eee;
box-shadow: 0 10px 40px -10px rgba(0,64,128,.09);
transition:0.3s;
margin: 2%;
}

.container-main{
  overflow: hidden;
}

.price-title {
  color: white;
  background-color: #36628c;
  margin:0;
  padding: 0;
}

.speech{
  background-color: #36628c;
  color: white;
  margin:0;
  padding: 0;
}

.row{
  background-color: #36628c;
  padding: 15px;
}

@media only screen and (max-width:480px) { 
.single-pricing {margin-bottom:30px;}
}
.single-pricing:hover{
box-shadow:0px 60px 60px rgba(0,0,0,0.1);
z-index:100;
transform: translate(0, -10px);
}
.price-label {
    color: #fff;
	background: #ffaa17;
	font-size: 16px;
	width: 100px;
	margin-bottom: 15px;
	display: block;
	-webkit-clip-path: polygon(100% 0%, 90% 50%, 100% 100%, 0% 100%, 0 50%, 0% 0%);
	clip-path: polygon(100% 0%, 90% 50%, 100% 100%, 0% 100%, 0 50%, 0% 0%);
	margin-left: -20px;
	position: absolute;
}
.price-head h2 {
  color: white;
	font-weight: 600;
	margin-bottom: 0px;
	text-transform: capitalize;
	font-size: 26px;
}
.price-head span {
	display: inline-block;
	background:#a8c2dc;
	width: 6px;
	height: 6px;
	border-radius: 30px;
	margin-bottom: 20px;
	margin-top: 15px;
}
.price {
  color: white;
	font-weight: 500;
	font-size: 50px;
	margin-right: 2%;
}
.single-pricing{}
.single-pricing h5 {
  color: white;
	font-size: 14px;
	margin-bottom: 0px;
	text-transform: uppercase;
}
.single-pricing ul{
list-style: none;
margin-bottom: 20px;
margin-top: 30px;
padding-left: 9%;
}
.single-pricing li{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10%;
}

.single-pricing ul li{
  color: white;
  line-height: 35px;}

.single-pricing a {
background:#f7fafc;
border: 2px solid #36628c;
border-radius: 5000px;
color: #36628c;
display: inline-block;
font-size: 16px;
overflow: hidden;
padding:10px 45px;
text-transform: capitalize;
transition: all 0.3s ease 0s;
}
.single-pricing a:hover, .single-pricing a:focus{
background:#a8c2dc;
color:#fff;
border: 2px solid #36628c;
}
.single-pricing-white{background: #232434}
.single-pricing-white ul li{color:#fff;}
.single-pricing-white h2{color:#fff;}
.single-pricing-white h1{color:#fff;}
.single-pricing-white h5{color:#fff;}

.container {
  background-color: white;
  overflow: hidden;
}

/* RESPONSIVE CSS
  -------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
