/* Properties for the background of phone number and phone icon */
.p-2 {
  background-color: #36628C;
  border-radius: 15px;
  margin-left: 1%;
  padding-bottom: 3px;
}

/* Properties for alignment of "Talk to an Expert" link */
header a {
 display: flex;
 padding-right: 5%;
}

/* Properties for "Get Started" link */
a:link {
 text-decoration: none;
}